<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name%></h2>
      <p><%= @user.email%></p>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>
    <div>
      <h3>最近の新着投稿５件</h3>
      <ul>
        <% @new_posts.each do |post| %>
          <p><%= post.body %></p>
          <%# NOTE: ルーティングの定義に合わせてidを渡している %>
          <span><%= link_to post.title, edit_post_path(
            graduate_school_id: post.laboratory.graduate_school.id,
            laboratory_id: post.laboratory.id,
            post_id: post.id
          ) %>
          </span>
        <% end %>
      </ul>
    </div>
  </div>
</div>